<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class = "col-sm-4 col-sm-offset-4">
   <div class="panel panel-default manage-tabs manage-videos-panel">
     <div class="panel-heading default-color"> video Information</div>
      <div class = "panal-body" style = "margin-left:4%">
        <div class="row form-group">
          <div class="col-sm-6">
            <strong><%= f.label :url%><br></strong>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :url %>
          </div>
        </div>
         <div class="row form-group">
          <div class="col-sm-6">
            <strong><%= f.label :video_type %></strong>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :video_type %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <strong>Select Courses</strong>
          </div>
          <div class="col-sm-6">
            <%= f.collection_select(:course_ids, Course.all, :id, :course_name, {include_hidden: false}, {multiple: true} ) %><br />
          </div>
        </div>
        

        <div class="row form-group">
          <div class="col-sm-6 col-sm-offset-6">
             <%= f.submit "Submit", class: "btn btn-default"%>
            <%= link_to 'Back', admin_index_path,  class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
  
</div>
<% end %>
