<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <a href= <%= available_courses_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-search front-page-icon-font"></i> <br />
                Browse Available Courses
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a  class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-eye front-page-icon-font"></i> <br />
                View Opted courses 
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_pdf_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-book front-page-icon-font"></i> <br />
                Pdf Material
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_video_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-video-camera front-page-icon-font"></i> <br />
                Vedio Classes
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 
<br />
<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <a href= <%= student_front_page_certification_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-certificate front-page-icon-font"></i> <br />
                Get certified
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_write_exam_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-pencil-square-o front-page-icon-font"></i> <br />
                Write exam
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_schedule_exam_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-calendar front-page-icon-font"></i> <br />
                Schedule Exam
        </a>
    </div>
    
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_view_report_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-flag-checkered front-page-icon-font"></i> <br />
                View Report
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 
<br />
<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <!-- <a href= <%= student_front_page_share_thoughts_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-share-square-o front-page-icon-font"></i> <br />
                Share Your Thoughts
        </a> -->

        <a href= <%= student_front_page_assignments_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-share-square-o front-page-icon-font"></i> <br />
                Assignments
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_chat_rooms_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-comments-o front-page-icon-font"></i> <br />
                Chat Room 
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_groups_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-users front-page-icon-font"></i> <br />
                Groups
        </a>
    </div>
    
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_projects_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-sticky-note-o front-page-icon-font"></i> <br />
                Projects
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 
<br />
<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <a href= <%= student_front_page_upcomming_events_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-fort-awesome front-page-icon-font"></i> <br />
                Upcomming Compitations
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_university_syllabus_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-university front-page-icon-font"></i> <br />
                University syllabus 
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_help_desk_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-info-circle front-page-icon-font"></i> <br />
                Mess Helpdesk
        </a>
    </div>
    
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= student_front_page_settings_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-wrench front-page-icon-font"></i> <br />
                Your Settings
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 

