<%= render partial: "concept" %>
<div class="container">
    <div class="row">
        <%= render partial: "student" %>
        <%= render partial: "others" %>
        <%= render partial: "faculty" %>
    </div>
</div>
<%= render partial: "other_products" %>