<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class = "col-sm-4 col-sm-offset-4">
   <div class="panel panel-default manage-tabs manage-students-panel">
     <div class="panel-heading default-color"> Course Information</div>
      <div class = "panal-body" style = "margin-left:4%">
        <p id="notice"><%= notice %></p>
        <div class="row form-group">
          <div class="col-sm-6">
            <strong> <%= f.label :course_name %></strong>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :course_name %>
          </div>
        </div>
         <div class="row form-group">
          <div class="col-sm-6">
            <strong><%= f.label :course_description %></strong>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :course_description %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6 col-sm-offset-6">
             <%= f.submit "Submit", class: "btn btn-default"%>
            <%= link_to 'Back', admin_index_path,  class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
  
</div>
<% end %>
